{% extends "base.html" %}

{% block content %}
	<h1>{{ text }}</h1>
    <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-md-4-offset col-lg-4 col-lg-4-offset">
			{{ something }}
		</div>
	</div>
{% endblock %}