{% extends "base.html" %}

{% block content %}
	<header>
		<h1>Simple Web Service Call: Get Users</h1>
	</header>
    <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-md-4-offset col-lg-4 col-lg-4-offset">
			<div onclick="get_users()" class="btn btn-block btn-primary">Get Users</div>
			<ol id="list"></ol>
		</div>
	</div>
	<script type="text/javascript">
		function get_users() {
			$.getJSON('http://localhost/research-and-development/web-services/api/users', 
				{}, 
				function(json, textStatus) {
					$('#list').html('');
					for (var i = json.length - 1; i >= 0; i--) {
						var user = json[i];
						$('#list').append('<li>'+user.name+'</li>');
					};
			});
		}
	</script>
{% endblock %}